<nav class="navbar navbar-expand-sm navbar-light bg-light row">
    <a class="navbar-brand" href="#" class="col" >Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse col-12" id="navbarSupportedContent" >
      <ul class="navbar-nav mr-auto col-9">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/employees">R. Humaine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-1 my-lg-0 col-2 align-self-end">
        <input class="form-control my-1 " type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success  " type="submit">Search</button>
      </form>
    </div>
  </nav>
